@model GroupdocsConversionMVCDemo.Models.ConvertModel
@{
    ViewBag.Title = ":: GroupDocs Conversion 3.0 MVC Demo";
}

<div style="padding: 20px 20px 20px 20px">
    <div class="panel panel-default" style="width: 90%;">
        <div class="panel-heading"><b>GroupDocs Conversion 3.0 MVC Demo</b></div>
        <div class="panel-body">
            <span class="label label-default">Input file: @Model.inputGUIDFile</span><br />
            .
            <div class="input-group">
                <a href="@Url.Action("ConvertCommand", "Home", new { inputFile = @Model.inputGUIDFile, outputFileType = "jpg" })" title="Convert to JPG" class="btn btn-default">Convert to JPG</a>
                <a href="@Url.Action("ConvertCommand", "Home", new { inputFile = @Model.inputGUIDFile, outputFileType = "pdf" })" title="Convert to PDF" class="btn btn-danger">Convert to PDF</a>
                <a href="@Url.Action("ConvertCommand", "Home", new { inputFile = @Model.inputGUIDFile, outputFileType = "png" })" title="Convert to PNG" class="btn btn-default">Convert to PNG</a>
                <a href="@Url.Action("ConvertCommand", "Home", new { inputFile = @Model.inputGUIDFile, outputFileType = "xlsx" })" title="Convert to Excel" class="btn btn-success">Convert to Excel</a>
                <a href="@Url.Action("ConvertCommand", "Home", new { inputFile = @Model.inputGUIDFile, outputFileType = "pptx" })" title="Convert to Slides" class="btn btn-warning">Convert to Slides</a>
                <a href="@Url.Action("ConvertCommand", "Home", new { inputFile = @Model.inputGUIDFile, outputFileType = "html" })" title="Convert to HTML" class="btn btn-danger">Convert to HTML</a>
            </div>
        </div>
    </div>
</div>
